#charts {
    /* display: flex; */
}

#barchart0,
#barchart1,
#barchart2 {
    min-height: 33vh;
    min-width: 100vw;
}

#barchart4 {
    display: none;
    /* min-height: 100vh; */
    /* min-width: 200vw; */
}